<div class="app-view" id="dialogs-view" data-url="dialogs" data-swipeleftsp="true" data-persistent="false">
	<ul class="view-header">
		<li class="button" onclick="app.navigate('#home')"><span class="appicon appicon-chevron-left"></span> Modals</li>
	</ul>
    <div class="view-body">
    	<div class="view-body-inner">
    		<h1>Modal Dialogs</h1>
			<button onclick="alertDialog()">Alert Dialog</button>
			<button onclick="confirmDialog()">Confirm Dialog</button>
            <br/>

            <button onclick="selectDialog('Please select color')">Select Dialog</button>

            <br/><br/>
            <div id="dialog_log"></div>

    	</div>
    </div>


    <script>
    	function alertDialog() {
            AppDialog.alert('Hello there, this is very cool alert dialog!', alertClosed);
    	}

        function alertClosed() {
            document.getElementById('dialog_log').innerHTML = document.getElementById('dialog_log').innerHTML+ 'alert closed...<br/>';
        }

        function confirmDialog() {
            AppDialog.confirm('Are you sure you?', confirmClosed);
        }

        function confirmClosed(data) {
            document.getElementById('dialog_log').innerHTML = document.getElementById('dialog_log').innerHTML+ 'confirm closed ('+data+')...<br/>';
        }


        function selectDialog(msg) {
            var actions = [
                            {key:'red', value:'Red'},
                            {key:'yellow', value:'Yellow'},
                            {key:'green', value:'Green'},
                            {key:'orange', value:'Orange'},
                            {key:'purple', value:'Pruple'},
                            ];

            AppDialog.select(msg, actions, selectDone);
        }


        function selectDone(data) {
            document.getElementById('dialog_log').innerHTML = document.getElementById('dialog_log').innerHTML+ 'select closed ('+data+')...<br/>';   
        }

    </script>
</div>