<div class="app-view" id="modals-view" data-url="modals" data-swipeleftsp="true" data-persistent="false">
	<ul class="view-header">
		<li class="button" onclick="app.navigate('#home')"><span class="appicon appicon-chevron-left"></span> Modals</li>
	</ul>
    <div class="view-body">
    	<div class="view-body-inner">
    		<h1>Modal Dialogs</h1>
			<button onclick="confirmDialog()">Confirm Dialog</button>
			<button onclick="">Info Dialog</button>
    	</div>
    </div>


    <script>
    	function confirmDialog() {
    		var settings = {};
    		AppDialog.show(settings);
    	}
    </script>
</div>