<div class="app-view" id="dialogs-view" data-url="dialogs" data-swipeleftsp="true" data-persistent="false">
	<ul class="view-header">
		<li class="button" onclick="app.navigate('#home')"><span class="appicon appicon-chevron-left"></span> Modals</li>
	</ul>
    <div class="view-body">
    	<div class="view-body-inner">
    		<h1>Gallery Slider</h1>
			<div class="app-slider" id="main-slider" data-source="items">
				<div class="app-slider-template">
					<div class="slider-item" style="background-color:%color%">
						<span>%name%</span>
					</div>
				</div>
			</div>
    	</div>
    </div>
    <script>
    	var items = [
    		{color: 'red', name:'slide #1'},
    		{color: 'yellow', name: 'slide YELLOW'},
    		{color: 'blue', name: 'This slide is BLUE!!!'},
    		{color: 'orange', name: 'ORANGE SLIDE'},
    		{color: 'grey', name: 'Last slide!! GREY'}
    	];
    </script>
</div>