<div class="app-view" id="test-view" data-url="test" data-scrolly="true" data-scrollxx="true">
	<ul class="view-header">
		<li class="button" onclick="app.navigate('#home')"><span class="appicon appicon-chevron-left"></span> Test View</li>
	</ul>
    
    <div class="view-body">
    	<div class="view-body-inner">
	    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis ornare ipsum, eget gravida elit dictum sed. Curabitur leo nunc, malesuada vitae ullamcorper eget, faucibus sed magna. Donec vehicula congue turpis, nec eleifend nunc malesuada non. Cras in blandit neque. Proin facilisis purus et rutrum rhoncus. Nulla facilisi. Nam vitae mauris sit amet augue iaculis venenatis. Ut sed tellus pulvinar, consequat elit ac, auctor mauris. Pellentesque bibendum leo enim, at rutrum nulla adipiscing eget.

			Nulla et mauris sed odio vehicula ullamcorper. Nullam diam nisl, gravida sit amet mi sed, convallis laoreet magna. Donec sed nulla luctus, imperdiet ligula quis, aliquet velit. Duis egestas bibendum enim at varius. Nam orci nunc, adipiscing id venenatis quis, consectetur ut lacus. Phasellus hendrerit tempor dapibus. Sed aliquet nec quam non auctor.

			Donec bibendum sed enim vitae pharetra. In cursus vel massa eu mattis. Suspendisse potenti. Aenean nisi arcu, facilisis vel justo ut, fermentum tincidunt diam. Aenean venenatis odio in commodo tincidunt. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque faucibus elit in nibh sollicitudin, ac hendrerit libero faucibus.

			Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque eget vestibulum nisi, vitae convallis arcu. Etiam ut enim aliquam, egestas elit in, vehicula ligula. Etiam adipiscing dui orci, id gravida mauris suscipit at. Proin ante libero, adipiscing vel libero et, pharetra vestibulum sapien. Pellentesque luctus mauris non commodo sollicitudin. Proin ultrices tellus lorem, id tincidunt orci vehicula sit amet. Vivamus libero mi, pulvinar eu nulla pellentesque, auctor pellentesque massa. Nam congue mi orci, sit amet posuere turpis euismod vel. Donec in risus dapibus, commodo tellus id, elementum enim. Curabitur et mauris nisi.

			Quisque sit amet lectus scelerisque, vulputate dolor quis, laoreet nisl. Aenean sapien ipsum, consequat et risus sit amet, mattis ornare lorem. Sed ac lorem in massa congue vehicula non nec libero. Nulla id ante id turpis auctor rutrum sit amet sed felis. Aenean at consequat leo. Nulla facilisi. Donec mollis mi eu augue dictum, semper varius nunc suscipit. Donec volutpat orci sit amet justo feugiat eleifend. Proin justo velit, tincidunt sed turpis suscipit, interdum pharetra libero. Maecenas cursus ligula vel nibh suscipit, nec ornare odio gravida. In sit amet arcu velit. Vivamus ante ante, viverra sed ipsum vitae, pulvinar blandit lorem. Nullam fringilla fermentum enim, at faucibus elit. Proin tortor odio, luctus et egestas vitae, condimentum id lectus
		</div>
    </div>
</div>
